<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521045637390-i7ir8uj08te67vcd260s2fst0et4dn8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521045637390-i7ir8uj08te67vcd260s2fst0et4dn8j</string>
	<key>API_KEY</key>
	<string>AIzaSyDwD7GB3ZTWpJj-ldkqmDUbBq6BxlZNKQE</string>
	<key>GCM_SENDER_ID</key>
	<string>521045637390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ifThenApp</string>
	<key>PROJECT_ID</key>
	<string>if-then-app-36eb1</string>
	<key>STORAGE_BUCKET</key>
	<string>if-then-app-36eb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521045637390:ios:c7e390fb571103381f3f5f</string>
</dict>
</plist>